:root{

    --text-color: #fff
}

.poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
}  

.headnav{
    background-image: url(../Imagenes/img/banner.webp);
}

.headnav a{
    color: var(--text-color);
    font-weight: bold;
}

.header1{
    font-weight: 300 !important;

}

.title-1{
    border:none;
    border-bottom: 1px solid gray;
}


.btn-cantidad{
    width: 50px;
    height: 50px;
    font-size: 2.5rem ;
}

.btn-cantidad-2{
    width: 50px;
    height: 50px;
    font-size: 2.5rem ;
    border:none
}

.Card-1{
    height: 165px;
    width: 165px;
    padding: 5px
}

.Card-2{
    height: 165px;
    width: 165px;
    padding: 5px
}

.Card-3{
    height: 165px;
    width: 165px;
    padding: 5px
}

.button-delete{
    width: 250px;
    height: 70px;
    background: #cf0404;
    color: var(--text-color);
    border-radius: 10px;
}

.button-pago{
    width: 100%;
    height:50px;
    background: #eb04b9;
    color: var(--text-color);
    border-radius: 10px;
}

.btn-close{
    position: absolute;
    left: 95%;
    width: 20px;
}

.lista-1{
    border: 1px solid gray !important;
    padding: 15px 20px !important;
}

.lista-1 span{
    padding: 0 10px;
}

.lista-2{
    border: 1px solid gray !important;
    border-top: none !important;
    padding: 15px 20px !important;
}

.lista-2 span{
    padding: 0 10px;
}

.input-metodo{
direction: column;
}

.lista-3{
    border: 1px solid gray !important;
    border-top: none !important;
    padding: 15px 20px !important;
}

.lista-3 span{
    padding: 0 10px;
}

.lista-4{
    border: 1px solid gray !important;
    border-top: none !important;
    padding: 15px 20px !important;
}

.bloque-1{
    border: 1px solid gray !important;
    padding: 15px 20px !important;
}

.bloque-1 p{
    justify-content: start !important;
}

.pagos img{
    align-items: start;

    width: 50%;
}

.bloque-2{
    border: 1px solid gray !important;
    border-top: none !important;
    padding: 15px 20px !important;
}

.tarjetita-1{
    height: 150px;
}